input {
    margin: 6px;
    width: 96%;
    font-size: 18px;
    padding: 2px;
}

.text-black {
    font-size: 1.5rem;
}

.text-red {
    color: rgb(253, 48, 55);
    text-shadow: 1px 1px 0px rgb(190, 14, 14);
    font-size: 1.1rem;
}

.text-blue {
    color: rgb(49, 59, 175);
    text-shadow: 1px 1px 0px rgb(30, 38, 129);
    font-size: 1.1rem;
}