/* Setup CSS */

.clearfix::after { 
  content: "";
  display:block; 
  clear:both; 
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

/* Main CSS */

.App {
  text-align: center;
}

.box {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  margin-top: 12px;
  width: 600px;
  height: 650px;
  border-radius: 8px;
  background-color: #FCF1E3;
  background-image: radial-gradient(closest-side at 50% 50%, #FCF1E3, #EDD9BE);
  box-shadow: 0px 2px 10px rgba(78, 51, 0, 0.322);
  overflow: hidden;
}

@font-face {
  src: url(./Funhouse.ttf);
  font-family: test;
}

.container {
  position: relative;
  font-family: test;
  text-align: center;
}