.text-bar,
.opponent-bar,
.opponent-button-bar,
.opponent-button-back,
.opponent-button-refresh,
.opponent-button-bar,
.opponent,
.opponent-pic,
.opponent-stats,
.opponent-stats-bar,
.opponent-stats-bar div,
.opponent-button-refresh div,
.opponent-button-back div,
.text-bar-row,
.text-bar-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opponent-box {
    justify-content: space-evenly;
    align-items: center;
}

.text-bar {
    width: 90%;
    height: 17%;
}

.text-bar-row {
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.f2 {
    flex: 2;
    font-size: 2.3rem;
    color: rgb(253, 48, 55);
    text-shadow: 4px 4px 0px rgb(110, 0, 0),
    -1px -1px 0px rgb(110, 0, 0),
    1px -1px 0px rgb(110, 0, 0),
    -1px 1px 0px rgb(110, 0, 0),
    1px 1px 0px rgb(110, 0, 0);
}

.text-bar-col {
    flex: 1;
    font-size: 1.3rem;
    height: 100%;
}

.opponent-bar {
    width: 90%;
    height: 60%;
}

.opponent {
    flex-direction: row;
    width: 90%;
    height: 28%;
    margin: 8px 0;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.opponent:hover {
    transform: scale(1.04);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.233);
}

.opponent-pic {
    margin-left: 7px;
    flex: 1;
    height: 100%;
}

.opponent-stats {
    margin-right: 5px;
    flex: 3;
    height: 100%;
}

.opponent-stats-bar {
    flex-direction: row;
    width: 100%;
    height: 45%;
}

.opponent-stats-bar div {
    height: 100%;
    flex: 1;
    font-size: 1.15rem;
}

.opponent-stats-bar img {
    height: 15px;
}

.opponent-button-bar {
    flex-direction: row;
    width: 90%;
    height: 12%;
}

.opponent-button-back {
    border-radius: 80px;
    width: 90%;
    height: 60%;
    margin: 10px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.opponent-button-back:hover {
    transform: scale(1.05);
}

.opponent-button-back {
    flex: 1;
    border: 4px solid rgb(190, 14, 14);
    background-color: rgb(253, 48, 55);
}

.opponent-button-back div {
    height: 100%;
    font-size: 1.5rem;
}

.osb-span {
    width: 100%;
    font-size: 1.35rem;
    text-shadow: 1px 1px rgb(253, 48, 55, 0.4);
}

.profile-picture-choose {
    height: 90px;
    width: 90px;
}

@media only screen and (max-width: 470px) {
    .profile-picture {
        margin: 0 5px;
    }

    .opponent-stats-bar {
        font-size: .8rem;
    }
    
    .opponent-stats-bar div {
        font-size: 1rem;
    }

    .profile-picture-choose {
        width: 75px;
        height: 75px;
    }

    .opponent-pic {
        margin-left: 10px;
    }

    .osb-span {
        font-size: 1.2rem;
    }
  }

  
@media only screen and (max-width: 370px) {
    .opponent-button-refresh div,
    .opponent-button-back div {
        font-size: 1.2rem;
    }

    .profile-picture-choose {
        width: 60px;
        height: 60px;
    }

    .osb-span {
        font-size: 1rem;
    }
}