.ability-icon,
.ability-text,
.nav-bar,
.nav-bar span,
.home-button,
.home-button div,
.profile-bar,
.profile-left-icon,
.fight-bar,
.fight-buttons,
.fight-stats,
.fight-stats div,
.fight-buttons div,
.fight-stats-tickets,
.fight-stats-tickets div,
.fight-stats-text,
.fight-stats-text div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-box {
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar {
    flex-direction: row;
    width: 90%;
    height: 10%;
}

.nav-bar span {
    flex: 2;
    font-size: 3rem;
    margin: 0px 10px;

    color: rgb(253, 48, 55);
    text-shadow: 4px 4px 0px rgb(110, 0, 0),
    -1px -1px 0px rgb(110, 0, 0),
    1px -1px 0px rgb(110, 0, 0),
    -1px 1px 0px rgb(110, 0, 0),
    1px 1px 0px rgb(110, 0, 0);
}

.home-button {
    flex: 1;
    font-size: .8rem;
    transition: .3s;
}

.home-button div {
    color: #fff;
    padding: 6px;
    background-color: rgb(253, 48, 55);
    border: 3px solid rgb(190, 14, 14);
    border-radius: 40px;
    width: 100%;
    transition: .3s;
    margin: 6px 0;
    cursor: pointer;
}

.home-button div:hover {
    transform: scale(1.1);
}

/* Profile CSS */

.profile-bar {
    width: 90%;
    height: 54%;
    background-color: #fff;
    border-radius: 6px;
}

.profile-info-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 37;
    width: 100%;
}

.profile-ability-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 21;
    width: 100%;
}

.profile-left-icon {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.profile-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2.5;
    height: 100%;
}

.profile-player-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.player-name {
    font-size: 1.5rem;
}

.player-level-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
    width: 90%;
    background-color: rgba(49, 59, 175, 0.356);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.player-exp {
    position: relative;
    /* width: 50%; */
    height: 100%;
    background-color: rgb(49, 59, 175);
    border-radius: 8px;
}

.player-exp-stats {
    position: absolute;
    right: 2%;
    color: #fff;
}

.player-exp-lvl {
    position: absolute;
    left: 5%;
    color: #fff;
    font-size: 1.2rem;
}

.break-line {
    width: 90%;
    height: 1px;
    border-top: 2px solid rgba(146, 146, 146, 0.335);
}

/* Fight bar CSS */

.fight-bar {
    flex-direction: row;
    width: 90%;
    height: 25%;
}

.fight-buttons,
.fight-stats {
    height: 100%;
}

.fight-buttons {
    flex: 2;
    align-items: flex-start;
}

.fight-stats-tickets {
    margin-top: 8px;
    padding-top: 10px;
    flex: 2;
    background-color: #fff;
    border-radius: 6px;
    width: 100%;
    font-size: 1.4rem;
}

.fight-stats-tickets div {
    flex: 1;
    margin-bottom: 5px;
}

.fight-stats-tickets img {
    margin: 0;
}

.fight-stats-text {
    flex: 1.5;
    width: 100%;
}

/* .fight-stats div {
    width: 100%;
    height: 28%;
    font-size: 1.2rem;
} */

.fight-buttons div {
    margin: 5px 0;
    width: 95%;
    height: 35%;
    cursor: pointer;
    border-radius: 80px;
    font-size: 1.5rem;
    color: #fff;
    transition: .3s;
}

.fight-buttons div:hover {
    transform: scale(1.05);
}

.fight-button,
.boss-button {
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
}

.boss-red {
    background-color: rgb(253, 48, 55);
    border: 4px solid rgb(190, 14, 14);
}

.fight-stats {
    flex: 1;
}

.home-ability-pic {
    height: 70%;
    background-color: pink;
    border-radius: 4px;
    width: 100%;
    margin: 0;
}

.home-ability-pic img {
    height: 30px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    margin: 0 15px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgb(126, 126, 126);
    background-color: #fff;
}

.w100 {
    width: 100%;
}

.ability-span {
    position: relative;
    top: 2px;
    font-size: 1.25rem;
}

.fight-stats-text div {
    height: 70%;
    width: 90%;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 100px;
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
    transition: .3s;
    cursor: pointer;
}

.fight-stats-text div:hover {
    transform: scale(1.05);
}

.stat-icons img {
    position: relative;
    top: 2px;
}

@media only screen and (max-width: 500px) {
    .nav-bar span  {
        font-size: 2.4rem;
        margin: 0;
    }
  }

  @media only screen and (max-width: 450px) {
    .profile-picture {
        width: 80px;
        height: 80px;
    }
  }

  @media only screen and (max-width: 400px) {
    .ability-span {
        font-size: 1rem;
        line-height: .8;
    }
  }

@media only screen and (max-width: 350px) {
    .nav-bar span  {
        font-size: 1.7rem;
        margin: 0;
    }

    .fight-stats-text div {
        font-size: 1rem;
    }
  }