.results-text-bar,
.results-info-bar,
.results-player-bar,
.results-vs-bar,
.results-player-pic,
.results-stats-bar,
.results-stats-stats,
.results-player-stats,
.results-stats-home, 
.results-stats-single-stat {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.results-text-bar {
    width: 90%;
    height: 12%;
    font-size: 4.5rem;
}

.results-victory-text {
    width: 90%;
    height: 12%;
    font-size: 4.5rem;
    color: rgb(0, 194, 42);
    text-shadow: 4px 4px 0px rgb(0, 124, 27),
    -1px -1px 0px rgb(0, 124, 27),
    1px -1px 0px rgb(0, 124, 27),
    -1px 1px 0px rgb(0, 124, 27),
    1px 1px 0px rgb(0, 124, 27);
}

.results-defeat-text {
    width: 90%;
    height: 12%;
    font-size: 4.5rem;
    color: rgb(253, 48, 55);
    text-shadow: 4px 4px 0px rgb(110, 0, 0),
    -1px -1px 0px rgb(110, 0, 0),
    1px -1px 0px rgb(110, 0, 0),
    -1px 1px 0px rgb(110, 0, 0),
    1px 1px 0px rgb(110, 0, 0);
}

.results-info-bar {
    flex-direction: row;
    width: 90%;
    height: 60%;
    background-color: #fff;
    border-radius: 6px;
}


/* Player bars */

.results-player-bar {
    flex: 4;
    height: 100%;
}

.results-vs-bar {
    flex: .8;

    font-size: 2rem;
    color: rgb(253, 48, 55);
    text-shadow: 4px 4px 0px rgb(110, 0, 0),
    -1px -1px 0px rgb(110, 0, 0),
    1px -1px 0px rgb(110, 0, 0),
    -1px 1px 0px rgb(110, 0, 0),
    1px 1px 0px rgb(110, 0, 0);
}

.results-player-pic {
    flex: 4;
    width: 100%;
}

.results-player-stats {
    flex: 1;
    width: 100%;
}

.results-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
}

/* Stats bar */

.results-stats-bar {
    flex-direction: row;
    width: 90%;
    height: 15%;
}

.results-stats-stats {
    width: 60%;
    height: 100%;
}

.results-player-stats {
    font-size: 1.5rem;
}

.mb {
    margin-bottom: 20px;
}

.results-stats-home {
    width: 40%;
    height: 100%;
}

.results-stats-single-stat {
    flex: 1;
    width: 100%;
    font-size: 1.7rem;
}

.results-stats-home div {
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
    width: 80%;
    height: 50%;
}

@media only screen and (max-width: 470px) {
    .results-pic {
        width: 125px;
        height: 125px;
    }
}

@media only screen and (max-width: 400px) {
    .results-victory-text {
        font-size: 3.5rem;
    }

    .results-pic {
        width: 100px;
        height: 100px;
    }
}
