.profile-main-bar,
.profile-section,
.profile-uploader,
.profile-buttons-bar,
.profile-buttons-col,
.profile-button div,
.profile-button,
.profile-section-stat,
.profile-section-value,
.profile-pic-row,
.profile-upload-row,
.profile-uploader,
.profile-uploader div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-text {
    height: 12%;
}

.profile-main-bar {
    width: 90%;
    height: 56%;
    background-color: #fff;
    border-radius: 6px;
}

.profile-section {
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.profile-section-stat {
    flex: 1.5;
    height: 100%;
}

.profile-section-value {
    flex: 1;
    height: 100%;
}

.pf-font-size,
.pfw-font-size {
    font-size: 2.1rem;
}

.profile-uploader {
    flex-direction: row;
    width: 100%;
    flex: 1;
}

.profile-desc-text {
    font-size: .8rem;
    flex: .7;
}

.fpic {
    flex: 2;
}

.profile-pic-row {
    flex: 1;
    height: 100%;
    margin-left: 6px;
}

.profile-upload-row {
    flex: 2.5;
    height: 100%;
    margin-right: 6px;
}

.profile-change-text {
    font-size: 1.5rem;
    color: rgb(253, 48, 55);
    text-shadow: 3px 3px 0px rgb(110, 0, 0),
    -1px -1px 0px rgb(110, 0, 0),
    1px -1px 0px rgb(110, 0, 0),
    -1px 1px 0px rgb(110, 0, 0),
    1px 1px 0px rgb(110, 0, 0);
}

.profile-buttons-bar {
    width: 90%;
    height: 19%;
    flex-direction: row;
}

.profile-buttons-col {
    flex: 1;
    height: 100%;
}

.profile-button div {
    margin: 5px 0;
    width: 90%;
    height: 68%;
    cursor: pointer;
    border-radius: 80px;
    font-size: 1.2rem;
    color: #fff;
    transition: .3s;
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
}

.profile-button div:hover {
    transform: scale(1.05);
}

.profile-button {
    flex: 1;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .pfw-font-size {
        font-size: 1.6rem;
    }

    .profile-change-text {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 380px) {
    .profile-button div {
        font-size: 1rem;
    }

    .profile-text {
        font-size: 3.8rem;
    }

    .pf-font-size {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 340px) {
    .flex-fix {
        flex:1.5;
    }
}