.profile-main-bar,
.profile-section,
.profile-uploader,
.profile-buttons-bar,
.profile-buttons-col,
.profile-button div,
.profile-button,
.profile-section-stat,
.profile-section-value {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-text {
    height: 12%;
}

.profile-main-bar {
    width: 90%;
    height: 56%;
    background-color: #fff;
    border-radius: 6px;
}

.profile-section {
    flex-direction: row;
    flex: 1;
    width: 100%;
    border: 1px solid red;
}

.profile-section-stat {
    flex: 1.5;
    height: 100%;
    border: 1px solid blue;
}

.profile-section-value {
    flex: 1;
    height: 100%;
    border: 1px solid blue;
}

.pf-font-size {
    font-size: 2.3rem;
}

.profile-uploader {
    flex: 1;
}

.fpic {
    flex: 1.5;
}

.profile-buttons-bar {
    width: 90%;
    height: 19%;
    flex-direction: row;
}

.profile-buttons-col {
    flex: 1;
    height: 100%;
}

.profile-button div {
    margin: 5px 0;
    width: 90%;
    height: 68%;
    cursor: pointer;
    border-radius: 80px;
    font-size: 1.2rem;
    color: #fff;
    transition: .3s;
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
}

.profile-button div:hover {
    transform: scale(1.05);
}

.profile-button {
    flex: 1;
    width: 100%;
}

@media only screen and (max-width: 380px) {
    .profile-button div {
        font-size: 1rem;
    }

    .profile-text {
        font-size: 3.8rem;
    }
}

@media only screen and (max-width: 340px) {
    .flex-fix {
        flex:1.5;
    }
}