.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 60%;
    height: 25%;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    transition: .3s;
}

.button:hover {
    transform: scale(1.04);
}

.loginButton {
    border: 4px solid rgb(190, 14, 14);
    background-color: rgb(253, 48, 55);
}

.newAccountButton {
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
}

.flex-buttons {
    position: relative;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
}