.credits-members-bar,
.credits-member,
.credits-tech-bar,
.credits-back-bar,
.credits-back,
.credits-back div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits-text {
    height: 12%;
}

.credits-members-bar {
    width: 90%;
    height: 25%;
    font-size: 4.5rem;
}

.credits-member {
    flex: 1;
    font-size: 1.5rem;
}

.credits-tech-bar {
    width: 90%;
    height: 42%;
    background-color: #fff;
    border-radius: 6px;
}

.credits-back-bar {
    flex-direction: row;
    width: 90%;
    height: 12%;
}

.credits-back {
    height: 100%;
    flex: 1;
}

.credits-back div {
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
    width: 90%;
    height: 60%;
}

@media only screen and (max-width: 360px) {
    .credits-text {
      font-size: 3.5rem;
    }
  }