.credits-members-bar,
.credits-member,
.credits-tech-bar,
.credits-back-bar,
.credits-back,
.credits-back div,
.credits-tech-row,
.credits-tech-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits-text {
    height: 10%;
    font-size: 3.5rem;
}

.credits-members-bar {
    width: 90%;
    height: 36%;
    font-size: 4.5rem;
}

.credits-member {
    flex: 1;
    width: 100%;
    font-size: 1.2rem;
}

.credits-member img {
    transition: .3s;
}

.credits-member img:hover {
    transform: scale(1.1);
}

.credits-member span {
    margin-bottom: 6px;
}

.credits-tech-bar {
    width: 90%;
    height: 35%;
    background-color: #fff;
    border-radius: 6px;
}

.credits-tech-row {
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.credits-tech-col {
    flex: 1;
    height: 100%;
}

.credits-back-bar {
    flex-direction: row;
    width: 90%;
    height: 12%;
}

.credits-back {
    height: 100%;
    flex: 1;
    flex-direction: row;
}

.credits-tech-col img {
    height: 80px;
}

.credits-back div {
    border: 4px solid rgb(30, 38, 129);
    background-color: rgb(49, 59, 175);
    width: 90%;
    height: 60%;
}

@media only screen and (max-width: 410px) {
    .credits-text {
      font-size: 3.5rem;
    }

    .credits-member {
        font-size: .9rem;
    }
    
    .credits-tech-col img {
        height: 65px;
    }
  }